@import 'codemirror-theme-vars/base.css';

:not(pre) > code {
  font-size: 0.9em;
  @apply font-light py-0.5 rounded;
}


:not(pre) > code:before,
:not(pre) > code:after {
  content: '`';
  opacity: 0.50;
}

:not(pre) > code:before {
  margin-right: -0.08em;
}
